# Rust
app/target/

# mise local installs
.mise/

# Tauri
app/crates/tauri-settings/src-tauri/target/

# macOS
.DS_Store
app/platform/macos/build/
app/platform/macos/DerivedData/
*.xcuserdata

# Windows
app/platform/windows/build/
*.obj
*.pdb

# Node
node_modules/

# Frontend build output
app/crates/tauri-settings/src-frontend/dist/

# Editor
.vscode/settings.json
*.swp
